/**
 * All your custom CSS should go into this file
 */

.container{ width: 1030px!important; }

.background-image {
    background-color: #E8E9EE;
}

.login-container {
    background-color: #fff;
    margin-top:45px;
	margin-bottom:45px;
	padding: 20px 0 !important;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.2);
    -moz-box-shadow:    1px 1px 5px 0px rgba(50, 50, 50, 0.2);
    box-shadow:         1px 1px 5px 0px rgba(50, 50, 50, 0.2);
}

.background-login-header {
    background-color: #fff;
    background-image: url('../img/Industry_Solutions.jpg'); 
    background-position: center;
    /*-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 10px !important; 
    padding-top: 0 !important; 
    padding-bottom: 0 !important; 
    margin-left: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
	height: 300px;
    color: #fff;
    font-size: 50px;
    font-weight: 500;
}

.background-login-header div {
	padding-top: 80px;
    vertical-align: middle;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 1);
}

.background-login-header strong {
	font-size: 21px;
    font-weight: 400;
}

.login-header {
    font-size: 40px;
    height: 60px !important;
    background-color: #3f4549;
    color: #fff;
}

.login-wrapper {
    margin: 75px auto 0 !important;
}

.btn-info-login.btn-perspective, .btn-info-login.btn-perspective:hover {
    -webkit-box-shadow: 0px 3px 0px #2C3439;
    -moz-box-shadow: 0px 3px 0px #2C3439;
    box-shadow: 0px 3px 0px #2C3439;
    color: #fff;
}

.btn-info-login  {
    background-color: #3f4549;
    border-color: #3f4549;
}

.btn-info-login:hover {
    background-color: #34393d;
    border-color: #34393d;
}

.login-label {
    color: #3f4549;
}

.the-box {
    /*margin-top: 25px;*/
    margin-bottom: 30px;
    min-height: 450px;
}

.the-box-db {
    margin-top: 25px;
    margin-bottom: 30px;
}

/* Buttons */

/* ------------------------------- */

.btn-outline {
    color: inherit;
    background-color: transparent;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

/* Circle Buttons */

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 5px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.3;
    outline: none;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.ava {
    height: 40px;
    left: 10px;
    top: 10px;
    width: 40px;
    margin-right: 10px;
}

.success {
    color: #34BC9B;
    display: block;
    font-family: Calibri;
    font-size: 10pt;    
    letter-spacing: 0.5px;
    padding: 4px 0 2px 5px;
    text-transform: none;    
}

.error {
    color: #e9573f;
    display: block;
    font-family: Calibri;
    font-size: 10pt;    
    letter-spacing: 0.5px;
    padding: 4px 0 2px 5px;
    text-transform: none;    
}

.sidebar-left, .nav-tabs, .table-responsive, table {
	/*font-size: 10pt;*/
}

.nav-tabs > li > a, .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    outline: none;
}

.nav-tabs > li > a, .dropdown-menu, .panel-heading, .panel-body {
	border-radius: 0;
}

.panel-group > .panel-heading {
	padding: 0;
}

.the-box > .nav-tabs {
	background: #37bc9b;	
	padding: 5px 5px 0 5px;
    font-size: small;
}

.nav-tabs > li > a, .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	color: white;
}

#vertical_tab > .nav-tabs > li > a, #vertical_tab > .nav-tabs > li.active > a, #vertical_tab > .nav-tabs > li.active > a:hover, #vertical_tab > .nav-tabs > li.active > a:focus {
    color: #434a54;
    border-radius: 3px 0 0 3px;
    font-size: small;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	color: #434a54;
}

#vertical_tab > .nav-tabs > li.active > a, #vertical_tab > .nav-tabs > li.active > a:hover, #vertical_tab > .nav-tabs > li.active > a:focus {
    color: #434a54;
    border-right: 1px solid white;
    border-left: 5px solid #d26911;
    background: transparent;    
    -moz-box-shadow: -2px 2px 3px #eee;
    -webkit-box-shadow: -2px 2px 3px #eee;
    box-shadow: -2px 2px 3px #eee;
}

/*#vertical_tab > .nav-tabs > li > a:hover, #vertical_tab > .nav-tabs > li > a:focus {
	border-left: 5px solid #d26911;
    background: transparent;
}*/

#vertical_tab > .nav-tabs > li > a:hover, #vertical_tab > .nav-tabs > li > a:focus {
    background: #eee;
    border-color: #eee #eee #ddd;
    border-left: 5px solid #d26911;
}

.nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
    background: #27a283;
    border-color: #27a283;
    border: 0;
}

.the-box > .tab-content > .tab-pane {
	padding: 15px;
}

.datepicker {
	z-index: 9999999;
}

.bootstrap-datetimepicker-widget td.active, .bootstrap-datetimepicker-widget td.active:hover {
	background: #27a283;
}

.no-padding{ padding: 0!important; }

.full-name{
    font-size: 25pt;
    font-weight: bold;
}
/*.position{ font-size: 13pt; }*/
.locality{ font-size: 10pt; }

.logo-brand {
    background-color: #2c3439;
    background-image: url("../img/logo_sil.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 60px;
    margin: 0;
    padding: 0;
}

.square-thumb {
    width: 108px;
    height: 108px;
}

.thumbnail{
    margin-bottom: 5px!important;  
}

.navbar-inverse {
    background-color: #232A34;
}

.media-body > p > img {padding: 0; margin: 0 10px 0 0;}
.media-body > p { font-size: 10pt;}
.flexslider{ margin-bottom: 20px;}

.well-ticker {
    background-color: #f5f5f5;    
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    margin-bottom: 20px;
    min-height: 20px;
    padding: 9px 15px;
}
h4.small-title{ font-size: 13px!important; border-bottom: 1px solid #f5f5f5; padding-bottom: 10px;}

.modal-body, .table, .showing{ font-size: small!important; }
.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group > .btn, .input-group-btn:last-child > .dropdown-toggle, .input-group-btn:first-child > .btn:not(:first-child), .input-group-btn:first-child > .btn-group:not(:first-child) > .btn, .input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group > .btn, .input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:last-child > .btn-group:not(:last-child) > .btn { border-radius: 0; }
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td { padding: 5px;}
textarea { resize: none; }
/*.bootstrap-timepicker-widget.dropdown-menu*/
.bootstrap-timepicker-widget.dropdown-menu { z-index: 100000; }
.datepicker{z-index:1151 !important;}
.sidebar-left{font-size: 10pt;}

.well-info {
    background-color: #d9edf7;
    border: 1px solid #bce8f1;
    border-radius: 4px;    
    color: #31708f;
    margin-bottom: 20px;
    min-height: 20px;
    padding: 15px;
}


/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  margin-top: 20px;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
  padding-left: 0;
  padding-right: 0;
}
.navbar-wrapper .navbar {
  padding-left: 15px;
  padding-right: 15px;
}

.navbar-content
{
    width:320px;
    padding: 15px;
    padding-bottom:0px;
}
.navbar-content:before, .navbar-content:after
{
    display: table;
    content: "";
    line-height: 0;
}
.navbar-nav.navbar-right:last-child {
margin-right: 15px !important;
}
.navbar-footer 
{
    background-color:#DDD;
}
.navbar-footer-content { padding:15px 15px 15px 15px; }
.dropdown-menu {
padding: 0px;
overflow: hidden;
}

.dropdown-menu{ margin: 0!important; }

.icon-sidebar {    
    text-align: center;
    width: 30px; 
    padding-right: 15px;
}

.page-tab {
    border-bottom: 1px solid #eee;
    margin: 0 0 20px;
    padding-bottom: 9px;
}

#proses_produksi {    
    height: 90px;
    overflow: auto;    
}

 
.multidropdown-on {
    color: #ffffff;
    background-color: #3399ff;
}

.spinner {
  margin: 100px auto;
  width: 50px;
  height: 30px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}